.footer {
  width: 100%;
  background: linear-gradient(135deg, #a3a4ea 0%, #6264f2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-logo {
  margin: 0 auto;
  display: inline-block;
}

body {
  margin: 0;
  min-height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Hace que el contenido principal crezca y empuje el footer hacia abajo */
}
