.custom-navbar {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #f0f0f3;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
}

.navbar-brand-custom {
  font-size: 26px;
  color: #2c3e50;
  font-weight: bold;
}

.navbar-toggle-custom {
  border: none;
  background: none;
}
.custom-icon {
  color: #2c3e50;
  background-color: #f0f0f3;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s ease;
  border: none;
  outline: none;
}

.custom-icon:hover {
  transform: scale(1.1);
}

.custom-icon:focus,
.custom-icon:active {
  border: none;
  outline: none;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
}
