.custom-navbar {
  background-color: #f0f0f3; /* Fondo gris claro para el efecto neumórfico */
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15),
    -8px -8px 15px rgba(255, 255, 255, 0.7); /* Sombra neumórfica */
  padding: 20px 20px; /* Más espacio arriba y abajo */
  border-radius: 20px;
}

.navbar-brand-custom {
  font-size: 26px;
  font-weight: bold;
  color: #2c3e50; /* Texto oscuro para contraste */
}

.navbar-toggle-custom {
  border: none;
  background: none;
}
.custom-icon {
  background-color: #f0f0f3;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
  color: #2c3e50;
  transition: transform 0.3s ease;
  border: none; /* Sin borde */
  outline: none; /* Sin borde de enfoque */
}

.custom-icon:hover {
  transform: scale(1.1); /* Efecto hover */
}

.custom-icon:focus,
.custom-icon:active {
  outline: none; /* Eliminar el contorno de enfoque */
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(255, 255, 255, 0.7); /* Mantener las sombras originales */
  border: none; /* Asegurar que no aparezca ningún borde */
}

/* .custom-icon:focus-visible {
  box-shadow: 0 0 0 3px rgba(45, 156, 219, 0.5);
} */
